 .navbar-inverse{
   background: black;
 }

/*--------Навігаційні потикушечки--------*/
.body{
  background: rgb(8, 8, 8);
}

/*↑↑↑↑↑↑↑↑↑↑-Це було тільки меню ))-↑↑↑↑↑↑↑↑↑↑*/



.article{
  position: relative;
  margin:  5%  8% 0  8%;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: none;
  color: white;
  text-align: justify;
  line-height: 0.8cm;

}

.img_1{
  float: right;
  margin: 0 0 1.75em 1.75em
}

.news{
  position: relative;
  width: 100%;
  height: 8%;
  
  text-align: center;
}


.news_1{

  border: 1px solid white;
  float: left;
  height: 500px;

  width: 350px;
  text-align: center;
  transition: .5s linear;
}

.news_1:hover{
  background: rgba(128, 128, 128, 0.199);
}

.news_2{

  border: 1px solid white;
  float: left;
  height: 500px;
 
  width: 350px;
  text-align: center;
  transition: .5s linear;

}

.news_2:hover{
  background: rgba(128, 128, 128, 0.199);
  
}

.news a{
  color: rgba(19, 126, 189, 0.527);
  transition: .5s linear;
}

.news a:hover{
  color: rgba(236, 224, 49, 0.979);
}

.news p{
  margin: 0 5px 0 5px;
}

.container{
  max-width: 1200px;
  margin:auto;
  padding:0 1em; 
}

.footer{
  position: static;
  float: left;
  width: 100%;
  height: 15%;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 20px;
  color: white;
}

.footer p{
  font-size: 18px;
  margin: 25px;
}